<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CTT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CTT.Properties.Settings>
            <setting name="LineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FarLineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FarLineWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FarThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Lambdas" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FieldSize" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Input" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Orientation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeyboardGain" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OffsetGain" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="InputGain" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NoiseGain" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="IsOldCTTBugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </CTT.Properties.Settings>
    </userSettings>
</configuration>